body{
    background-color: rgb(14, 14, 14);
    height: 2000px;
}
.navbar {
    left: 38%;
    position: fixed;
    width: 20%;
    background-color: black;
    padding: 15px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 30px white;
    z-index: 1;
}
.navbar a {
    color: green;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgb(111, 255, 74);
    transition: 0.5s;
}
.navbar a:hover {
    color: lightgreen;
    text-shadow: none;
    font-size: 25px;
}


.parent {
    display: grid;
    position: absolute;
    top: 200px;
    width: 100%;
    height: 500px;
    left: 0px;
    color: white;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
}

.parent div{
    box-shadow: 0px 0px 50px rgb(105, 255, 105);
    border-radius: 10px;
    transition: 1s;
}

.div1 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 6;
}
.div1:hover{
    box-shadow: 0px 0px 50px red;
}


.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 1;
}
.div3:hover{
    box-shadow: 0px 0px 50px red;
}


.div4 {
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    grid-column-start: 3;
    grid-row-start: 1;
}
.div4:hover{
    width: 800px;
    height: 400px;
    box-shadow: 0px 0px 100px rgb(105, 255, 105);
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 7;
    grid-row-start: 1;
}
.div6:hover{
    box-shadow: 0px 0px 50px red;
}


.div8 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 7;
    grid-row-start: 4;
}
.div8:hover{
    box-shadow: 0px 0px 50px red;
}


.div9 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 6;
}
.div9:hover{
    box-shadow: 0px 0px 50px red;
}


#stepimg{
    border-radius: 10px;
    position: absolute;
    width: 130px;
}

#stepname{
    position: absolute;
    font-size: 30px;
    margin-top: -0px;
    left: 250px;
    color: rgb(57, 140, 255);
    text-shadow: 1px 1px 0px blue;
}

#stepinfo{
    color: rgb(57, 140, 255);
    position: absolute;
    left: 150px;
    margin-top: 50px;
    width: 300px;
    text-shadow: 1px 1px 0px blue;
}


#smartacademyimg{
    border-radius: 10px;
    position: absolute;
    width: 170px;
}

#smartname{
    position: absolute;
    font-size: 30px;
    margin-top: -0px;
    left: 750px;
    color: white;
    text-shadow: 1px 1px 0px rgb(163, 163, 163);
}

#smartinfo{
    color: white;
    position: absolute;
    left: 750px;
    margin-top: 50px;
    width: 300px;
    text-shadow: 1px 1px 0px rgb(163, 163, 163);
}


#novatoriimg{
    border-radius: 10px;
}

#novname{
    position: absolute;
    color: aqua;
    text-shadow: 1px 1px 0px rgb(0, 153, 255);
    font-size: 25px;
    left: 100px;
}

#novinfo{
    position: absolute;
    color: aqua;
    text-shadow: 1px 1px 0px rgb(0, 153, 255);
    width: 300px;
    margin-top: 80px;
    left: 10px;
}


#goaimg{
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 50px;
}

#goaname{
    position: absolute;
    color: rgb(0, 201, 0);
    text-shadow: 1px 1px 0px lightgreen;
    font-size: 100px;
    top: -70px;
    left: 750px;
}


#goainfo{
    position: absolute;
    color: rgb(0, 201, 0);
    text-shadow: 1px 1px 0px lightgreen;
    font-size: 25px;
    top: 150px;
    left: 700px;
    width: 400px;
}

#khanimg{
    width: 100px;
    border-radius: 10px;
}

#khanname{
    position: absolute;
    margin-left: 150px;
    top: -50px;
    font-size: 50px;
    color: lightgreen;
    text-shadow: 1px 1px 0px rgb(47, 255, 47);
}

#khaninfo{
    position: absolute;
    margin-left: 130px;
    top: 70px;
    width: 200px;
    color: lightgreen;
    text-shadow: 1px 1px 0px rgb(47, 255, 47);
}

#programirebiskursebiimg{
    width: 100px;
    border-radius: 10px;
}

#progkursname{
    position: absolute;
    margin-left: 120px;
    top: 200px;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 0px rgb(163, 163, 163);
}


#progkursinfo{
    position: absolute;
    margin-left: 20px;
    top: 350px;
    width: 350px;
    color: white;
    text-shadow: 1px 1px 0px rgb(163, 163, 163);
}

#analiticcircle{
    position: absolute;
    top: 1000px;
    width: 500px;
    left: 5%;
    animation: scrollanimcirc linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@keyframes scrollanimcirc{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

#studentscircle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: conic-gradient(
        lightgreen 0% 7%,
        darkblue 7% 23%,
        rgb(255, 255, 255) 23% 27%,
        rgb(197, 197, 197) 27% 37%,
        deepskyblue 37% 56%,
        rgb(17, 109, 17) 56% 100%
    );
    box-shadow: 0px 0px 100px green;
}

#circlestydentpart{
    color: white;
    text-shadow: 1px 1px 0px rgb(54, 204, 54);
    font-size: 25px;
    margin-left: 20px;
}

#goacircle{
    position: absolute;
    color: rgb(0, 70, 0);
    font-size: 70px;
    text-shadow: 3px 3px 5px white;
    margin-left: 60px;
    margin-top: 150px;
}
#novatorcircle{
    position: absolute;
    color: blue;
    text-shadow: 2px 2px 5px white;
    font-size: 40px;
    margin-left: 220px;
    margin-top: 370px;
    rotate: 70deg;
}
#Khancircle{
    position: absolute;
    color: rgb(0, 119, 0);
    text-shadow: 2px 2px 5px white;
    font-size: 40px;
    margin-left: 240px;
    margin-top: 70px;
    rotate: -75deg;
}
#Stepcircle{
    position: absolute;
    color: rgb(20, 101, 115);
    text-shadow: 2px 2px 5px white;
    font-size: 60px;
    margin-left: 300px;
    margin-top: 136px;
    rotate: -40deg;
}
#smartaccircle{
    position: absolute;
    color: black;
    text-shadow: 2px 2px 5px white;
    font-size: 25px;
    margin-left: 330px;
    margin-top: 236px;
}
#web4youcircle{
    position: absolute;
    color: black;
    text-shadow: 2px 2px 5px white;
    font-size: 35px;
    margin-left: 310px;
    margin-top: 290px;
    rotate: 30deg;
}


#analisticimg{
    width: 800px;
    position: absolute;
    top: 1030px;
    left: 43%;
    animation: scrollanimpic linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    box-shadow: 0px 0px 200px green;
    border: 6px solid green;
    border-radius: 30px;
}

@keyframes scrollanimpic{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


#analitikamain{
    margin-top: 1700px;
    position: absolute;
}

#minigame{
    position: absolute;
    border: 2px dashed white;
    width: 700px;
    height: 500px;
    top: 1730px;
    left: 750px;
    overflow: hidden;
}

#myBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: lightgreen;
    border: 2px solid green;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(46, 234, 46);
    font-size: 80px;
}